version: 2.1
orbs:
  slack: circleci/slack@3.4.2
  browser-tools: circleci/browser-tools@1.4.1

parameters:
  suite:
    type: string
    default: Smoke
  notifyToSlack:
    type: boolean
    default: true
  ApiTrigger:
    type: boolean
    default: false
  NightlyRunNotify:
    type: boolean
    default: true

executors:
  test-executor:
    docker:
      - image: cimg/openjdk:17.0.12-browsers
    working_directory: ~/SelenideProject
    environment:
      MAVEN_OPTS: -Xmx4096m

commands:

  restore-and-save-cache:
    description: "Restore and save cache"
    steps:
      - run:
          name: Ensure working directory exists
          command: mkdir -p ~/SelenideProject

      - checkout  # Upload code before cashing

      - run:
          name: Verify if pom.xml exists
          command: |
            if [ ! -f pom.xml ]; then
              echo "ERROR: pom.xml not found!"
              exit 1
            fi

      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "pom.xml" }}
            - v2-dependencies-

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v2-dependencies-{{ checksum "pom.xml" }}

  running-automation-tests:
    description: "Running automation tests"
    steps:
      - run:
          name: Run tests
          command: mvn
            -DxmlSuiteFile=<< pipeline.parameters.suite >>
            clean test
          no_output_timeout: 20m

  archive-allure-artifacts:
    description: "Archive allure artifacts"
    steps:
      - run:
          name: Archive artifacts
          when: always
          command:
            tar -cvf artifacts-<< pipeline.parameters.suite >>.tar target/;

  store-archived-allure-artifacts:
    description: "Upload archived allure artifacts"
    steps:
      - store_artifacts:
          name: Upload archived artifacts
          path: artifacts-<< pipeline.parameters.suite >>.tar

  allure-report-generation:
    description: "Generate allure report"
    steps:
      - run:
          name: Allure report generation (allure-results -> allure-report)
          command: mvn io.qameta.allure:allure-maven:report
          when: always

  store-generated-allure-artifacts:
    description: "Store generated allure report"
    steps:
      - store_artifacts:
          name: Upload Allure report
          path: target/site/allure-maven-plugin
          destination: Report/Allure

  send-notification-to-slack-channel:
    description: "Send notification to Slack channel"
    steps:
       - when:
          condition: << pipeline.parameters.notifyToSlack >>
          steps:
            - slack/status:
                channel: C041TRUTE4V
                fail_only: false
                only_for_branches: master
                webhook: $SLACK_WEBHOOK

jobs:
  #There is a custom name of my job. We can change it anytime
  automation-tests-running:
    parameters:
      NightlyRunNotify:
        type: boolean
        default: false
    executor: test-executor
    #There is all custom names which located under 'Commands' section
    steps:
      - restore-and-save-cache
      - running-automation-tests
      - archive-allure-artifacts
      - store-archived-allure-artifacts
      - allure-report-generation
      - store-generated-allure-artifacts
      - send-notification-to-slack-channel

workflows:

  commit-workflow:
    when:
      and:
        - equal: [ false, << pipeline.parameters.ApiTrigger >>]
    jobs:
      - automation-tests-running:
          filters:
            branches:
              only:
                - master

  schedule-workflow:
    triggers:
      - schedule:
          cron: "0 5 * * 1,3,5"
          filters:
            branches:
              only:
                - master
    jobs:
      - automation-tests-running:
          NightlyRunNotify: true

  on-demand:
    when: << pipeline.parameters.ApiTrigger >>
    jobs:
      - buid_approval:
          type: approval
      - automation-tests-running